{% extends "base.html" %}

{% block title %}Account{% endblock title %}

{% block content %}
	<center><h1>Hello, {{ current_user.username }} ({{ utype }})!</h1></center>

	<div class="list-group">
			
		<div class="row">

			<div class="col-4">
				<div class="list-group" id="list-tab" role="tablist">	
					{% if utype == 'admin' %}
						<!-- newuser  non admin -->
						<a class="list-group-item list-group-item-action" id="list-newuser-list" data-toggle="list" href="#list-newuser" role="tab" aria-controls="newuser" disabled>Register a new user</a>
						<!-- log -->
						<a class="list-group-item list-group-item-action" id="list-log-list" data-toggle="list" href="#list-log" role="tab" aria-controls="log">Log</a>
						<!-- userlist -->
						<a class="list-group-item list-group-item-action" id="list-userlist-list" data-toggle="list" href="#list-userlist" role="tab" aria-controls="userlist">User list</a>
						<!-- hide all -->
						<!-- <a class="list-group-item list-group-item-action" id="list-hideall-list" data-toggle="list" href="#list-hideall" role="tab" aria-controls="hideall">Hide all</a> -->
					{% else %}  <!-- non admin -->
						<a class="list-group-item list-group-item-action" id="list-someopt-list" data-toggle="list" href="#list-someopt" role="tab" aria-controls="someopt">Some options</a>
					{% endif %}
				</div>
			</div>

			<div class="col-8" id="logAdmin">
				<div class="tab-content" id="nav-tabContent">
					{% if utype == 'admin' %}
						<!-- log -->
						<div class="tab-pane fade" id="list-log" role="tabpanel" aria-labelledby="list-log-list"> 
						
							<nav id="navbar-example2" class="navbar navbar-light bg-light">
								<center><a class="navbar-brand"> Output: </a></center>
								<ul class="nav nav-pills">
									<!-- links: it is possible to use it to navigation inside big text of page -->

									<!-- <li class="nav-item">
										 <a class="nav-link" href="#clearAll">@clear all</a> -->
										<!--<a class="nav-link" href="{{ url_for('account') + '/+clearAll' }}">@clear all</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ url_for('account') + '/+clear3d' }}">@clear after: 3 days</a>-->
										<!-- <a class="nav-link" href="+clear3d">@clear after: 3 days</a> -->
									<!-- </li> -->

									<li class="nav-item">
										<!-- <a class="nav-link" href="#fat">@today</a> -->

										<!-- Modal -->
										<!-- <button type="'button'" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> -->
										<button type="button" class="btn btn-light" data-toggle="modal" data-target="#clear3dButton">
										  Clear 3 days
										</button>

										<button type="button" class="btn btn-light" data-toggle="modal" data-target="#clearAllButton">
										  Clear all
										</button>
										<!-- Modal -->
									</li>
									<!-- <li class="nav-item">
										<a class="nav-link" href="#mdo">@rest</a>
									</li> -->
								</ul>
							</nav>

							<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
								<!-- <h4 id="fat">@today</h4>
								<p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
								<h4 id="mdo">@rest</h4>
								<p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p> -->

								{% for x in logTable %}
									# {{loop.index}}: {{ x }}
									<h6> </h6>
								{% endfor %}
							</div>

						</div>
						<!-- hide all -->
						<!-- <div class="tab-pane fade" id="list-hideall" role="tabpanel" aria-labelledby="list-hideall-list">	 </div> -->

						<!-- userlist -->
						<div class="tab-pane fade" id="list-userlist" role="tabpanel" aria-labelledby="list-userlist-list">
							
							<nav id="navbar-example2" class="navbar navbar-light bg-light">
								<center><a class="navbar-brand"> Output: </a></center>
							</nav>

							<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
								{% for x in userTable %}
									# {{loop.index}}: {{ x }}
									<h6> </h6>
								{% endfor %}
							</div>
						</div>
						
						<!-- newuser -->
						<div class="tab-pane fade" id="list-newuser" role="tabpanel" aria-labelledby="list-newuser-list">	
							<a style="border: none; background: #F2F3F4" href="/register" type="button" class="list-group-item list-group-item-action"> Click here to register a new user </a>
						</div>
					{% else %}  <!-- non admin -->
						<!-- someopt -->
						<div class="tab-pane fade" id="list-someopt" role="tabpanel" aria-labelledby="list-someopt-list"> Some options </div>
					{% endif %}
					
				</div>
			</div>



			<!-- Modal windows -->

			<!-- 3 days clear -->
			<div class="modal fade" id="clear3dButton" tabindex="-1" role="dialog" aria-labelledby="clear3dButtonLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="clear3dButtonLabel">Confirm</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        Are you shure? This operation delate permanently log for the last 3 days.
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <!-- <button type="button" class="btn btn-primary">Ok</button> -->
			        <a class="nav-link" href="{{ url_for('account') + '/+clear3d' }}">Yes: clear last: 3 days</a>
			      </div>
			    </div>
			  </div>
			</div>

			<!-- clear all -->
			<div class="modal fade" id="clearAllButton" tabindex="-1" role="dialog" aria-labelledby="clearAllButtonLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="clearAllButtonLabel">Confirm</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        Are you shure? This operation delate permanently all log data.
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <!-- <button type="button" class="btn btn-primary">Ok</button> -->
			        <a class="nav-link" href="{{ url_for('account') + '/+clear3d' }}">Yes: clear all</a>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- Modal -->
		</div>

	</div>

{% endblock content %}