{% extends "base.html" %}

{% block content %}
	<center><h1>Hello, {{ current_user.username }}!</h1></center>

	{% if utype == 'admin' %}
		<center><h1>You're in admin list. Avaliable options:</h1></center>	
		<!-- list -->
		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between align-items-center">
				<a class="nav-item nav-link" href="{{ url_for('register') }}">Register a new user</a>
				<span class="badge badge-primary badge-pill">14</span>
			</li>

			<li class="list-group-item d-flex justify-content-between align-items-center">
				<a class="nav-item nav-link" href="{{ url_for('register') }}">Register a new user</a>
				<span class="badge badge-primary badge-pill">2</span>
			</li>

			<li class="list-group-item d-flex justify-content-between align-items-center">
				<a class="nav-item nav-link" href="{{ url_for('register') }}">Register a new user</a>
				<span class="badge badge-primary badge-pill">1</span>
			</li>
		</ul>

		<!-- log -->
		<nav id="navbar-example2" class="navbar navbar-light bg-light">
			<center><a class="navbar-brand">Log</a></center>
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link" href="#fat">@today</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#mdo">@rest</a>
				</li>
			</ul>
		</nav>

		<div data-spy="scroll" data-target="#navbar-example2" data-offset="0" id="logAdmin">
			<h4 id="fat">@today</h4>
			<p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
			<h4 id="mdo">@rest</h4>
			<p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
		</div>
	{% endif %}

{% endblock content %}