<!doctype html lang="eng">
<html>
  <head>
    
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- <link rel="import" href="import/doc.html"> -->

    <script type=text/javascript src="{{ url_for('static', filename='ajax/jquery-3.3.1.js') }}"></script>

<!--     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script> -->

    <title>{% block title %}{% endblock title %} - Controller</title>

    {% block head %}

    {% endblock head %}

  </head>
  <body>

    <div id="topMenu">
        <div data-include='1.html'></div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{url_for('home')}}">Controller</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
              <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Task
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('taskAddP')}}">Add</a>
                <a class="dropdown-item" href="{{url_for('taskP')}}">List</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Machine
              </a>
              <!-- needs to be changed automaticaly according to Machines ammount -->
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/machine/1">Machine #1</a>
                <a class="dropdown-item" href="/machine/2">Machine #2</a>
                <a class="dropdown-item" href="/machine/3">Machine #3</a>
                <a class="dropdown-item" href="/machine/4">Machine #4</a>
                <a class="dropdown-item" href="/machine/5">Machine #5</a>
                <a class="dropdown-item" href="/machine/6">Machine #6</a>
                <a class="dropdown-item" href="/machine/7">Machine #7</a>
                <a class="dropdown-item" href="/machine/8">Machine #8</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('machineAll')}}">All machines</a> <!-- href = "#" - link to stay here; href="machine"; href="/machine/1" - absolute path -->
              </div>
            </li>

            <!--<li class="nav-item">-->
              <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> &lt;!&ndash;tabindex="-1"&ndash;&gt;-->
              <!---->
            <!--</li>-->
          </ul>
          <!--<form class="form-inline my-2 my-lg-0">-->
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
          <!--</form>-->

            <div class="btn-group btn-group-sm btn-group-toggle btn-sm" data-toggle="buttons" id = "languageSelector">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> En
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Uk
                  </label>
            </div>
            
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              {% endif %}
            </div>

            <!-- {% if current_user.is_autenticated %}
              <a href="{{ url_for('logout') }}" class="btn btn-primary btn-lg active btn-sm" role="button" aria-pressed="true">Logout</a>
            {% else %}
              <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg active btn-sm" role="button" aria-pressed="true">Login</a>
              <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg active btn-sm" role="button" aria-pressed="true">Register</a>
            {% endif %} -->
        </div>
        </nav>

      {% block topBar %}

      {% endblock topBar %}

    </div>

    <div id="content" class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}
        <!-- some content -->
        <!-- loading... -->
        <div ><center><img src="{{ url_for('static', filename='images/loading.gif') }}" title="loading..." /></center></div>
        <!-- style='display:none;' -->
      {% endblock content %}

    </div>
    
    <div id="footer">
      {% block footer %}
      <center>&copy; Copyright 2018 by <a lang="en" href="https://www.facebook.com/oleg.gordiichenko/">Oleg</a>.<center>
      {% endblock footer %}
    </div>
  </body>
</html>