{% extends "base.html" %}

{% block title %}Task{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>

  <script> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>

  <!-- ajax -->
  <script type=text/javascript>
    // var i = 1;
    function change_task_list_data(data){
      // alert(data);

      // Future: online list update 
    }

    setInterval(function() {
      $(function() {
        $.getJSON($SCRIPT_ROOT + '/_renew_task_list', {
          // a: $('input[name="a"]').val(),
          // b: $('input[name="b"]').val()
        }, function(data) {
          // alert(data.result)
          data.result;

          change_task_list_data(data.result);

        });
        return false;
      });
    }, 5000);
  </script>

{% endblock head %}
 
{% block topBar %}
  {{ super() }}
{% endblock topBar%}

{% block content %}
	<!--форма ввода-->

  {% if flgLoading %}
    {{ super() }}  <!-- insert content section of base tamplete -->
    <div id='my_content' style='display:none;'>  <!-- hide content because of loading -->
  {% else %}
    <div id='my_content'>
  {% endif %}


  <center><legend class="border-bottom mb-4"> {[(Machine)]} #{{number}} {[(task list)]}:</legend></center>

    <div class="col-12" id="l_ogAd_min">
      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <!-- table -->
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{[(Active)]} {{p}}</th>
              {% for p in range(1, current_pos_ammount + 1) %}
                <th scope="col">{[(Bunch)]} {{p}}</th>
                <th scope="col">{[(Pull)]} {{p}}</th>
                <th scope="col">{[(Local numb)]} {{p}}</th>
                <th scope="col">{[(Ammount)]} {{p}}</th>
              {% endfor %}
              <th scope="col">{[(ReloadDate)]} {{p}}</th>
            </tr>
          </thead>
          <tbody>
            {% for x in confTable %}
              <tr>
              <th scope="row">{{loop.index}}</th>
            <!-- <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
              </div>
            </td> -->
            <!-- <td><input type="checkbox" name="name1" />&nbsp;</td> -->
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id={{ "customCheck" ~ '_' ~ loop.index }}>
                <label class="custom-control-label" for={{ "customCheck" ~ '_' ~ loop.index }}>On/Off</label>
              </div>
            </td>
              {% set xIndex = loop.index %}

                <!-- if exist in general task list -->
                {% set arrExist = [] %}
                <!-- just init -->
                {% set ammountForTaskInMachine = {'apple': 'fruit'} %}
                
                {% set count = [0] %}
                  {% for task in task_from_machine %}
                    {% for z in range(1, current_pos_ammount * 4, 4) %}
                      <!-- pull is equal -->
                      {% if x[z] != task[1] or [xIndex, z] in arrExist %}
                      
                      {% else %}
                        <!-- update({'item': 3}) -->
                        {{ arrExist.append([xIndex, z]) if arrExist.append([xIndex, z]) != None else '' }}
                        {{ammountForTaskInMachine.update({(xIndex ~ '_' ~ z): task[3]}) if ammountForTaskInMachine.update({(xIndex ~ '_' ~ z): task[3]}) != None else '' }}

                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                
                <!-- show (Bunch_n, Pull_n, LocalNumb_n, Ammount_n) * current_pos_ammount -->
                {% for z in range(1, current_pos_ammount * 4, 4) %}
                    <!-- Z{{z}}Z
                    loop: {{loop.index}} -->
                    <!-- show Bunch_n, Pull_n, LocalNumb_n, Ammount_n ... -->
                    {% for k in range(-1, 3) %}
                    <td>
                      {% if [xIndex, z]  not in arrExist %}
                        <!-- doesn't speccified task bunch, pull, localnumber, ammount is red -->
                        <font color="red">{{x[z + k]}}*</font>
                      {% else %}
                        {% if k == 2 and (xIndex ~ '_' ~ z) in ammountForTaskInMachine.keys() %} 
                          <!-- ammount -->
                          {{ ammountForTaskInMachine.get(xIndex ~ '_' ~ z) *10 }}/{{x[z + k]}}
                        {% else %}
                          <!-- not ammount field -->
                          {{x[z + k]}}  
                        {% endif %}
                      {% endif%}
                    </td>
                    {% endfor %}
                {% endfor %}
                <!-- ReloadDate -->
                <td>{{x[-1]}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  <!-- table -->
      </div>
    </div> 

  </div>  <!-- my_content -->

{% endblock content %}