{% extends "base.html" %}

{% block title %}Task{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>

  <script> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>

  <!-- ajax -->
  <script type=text/javascript>
    // var i = 1;
    function change_task_list_data(data){
      // alert(data);

      // Future: online list update 
    }

    setInterval(function() {
      $(function() {
        $.getJSON($SCRIPT_ROOT + '/_renew_task_list', {
          // a: $('input[name="a"]').val(),
          // b: $('input[name="b"]').val()
        }, function(data) {
          // alert(data.result)
          data.result;

          change_task_list_data(data.result);

        });
        return false;
      });
    }, 5000);
  </script>

{% endblock head %}
 
{% block topBar %}
  {{ super() }}
{% endblock topBar%}

{% block content %}
	<!--форма ввода-->

  {% if flgLoading %}
    {{ super() }}  <!-- insert content section of base tamplete -->
    <div id='my_content' style='display:none;'>  <!-- hide content because of loading -->
  {% else %}
    <div id='my_content'>
  {% endif %}


  <center><legend class="border-bottom mb-4"> {[(Machine)]} #{{number}} {[(task list)]}:</legend></center>

    <div class="col-12" id="l_ogAd_min">
      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <!-- table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              {% for p in range(1, current_pos_ammount + 1) %}
                <th scope="col">{[(Bunch)]} {{p}}</th>
                <th scope="col">{[(Pull)]} {{p}}</th>
                <th scope="col">{[(Local numb)]} {{p}}</th>
                <th scope="col">{[(Ammount)]} {{p}}</th>
              {% endfor %}
              <th scope="col">{[(ReloadDate)]} {{p}}</th>
            </tr>
          </thead>
          <tbody>
            {% for x in confTable %}
              <tr>
              <th scope="row">{{loop.index}}</th>
              {% set xIndex = loop.index %}

                <!-- if exist in general task list -->
                {% set arrDoesntExist = [] %}
                  {% for task in task_from_machine %}
                    {% if x[1] != task[1] and xIndex not in arrDoesntExist %}
                      {{ arrDoesntExist.append(xIndex) if arrDoesntExist.append(xIndex) != None else '' }}
                      <!-- {{arrDoesntExist}} -->
                      <!-- red -->
                      <!-- <p><font color="red"># {{xIndex}}</font></p> -->
                    {% endif %}
                  {% endfor %}

                <!-- show (Bunch_n, Pull_n, LocalNumb_n, Ammount_n) * current_pos_ammount -->
                {% for z in range(1, current_pos_ammount * 4, 4) %}
                    <!-- show Bunch_n, Pull_n, LocalNumb_n, Ammount_n ... -->
                    {% for k in range(-1, 3) %}
                    <td>
                      {% if xIndex in arrDoesntExist %}
                        <font color="red">{{x[1 + k]}}</font>
                      {% else %}
                        {{x[1 + k]}}
                      {% endif%}
                    </td>
                    {% endfor %}
                {% endfor %}
                <!-- ReloadDate -->
                <td>{{x[-1]}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  <!-- table -->
      </div>
    </div> 

  </div>  <!-- my_content -->

{% endblock content %}