{% extends "base.html" %}

{% block title %}Main page{% endblock title %}

{% block head %}

  <!-- {{ super() }} -->
  <style type="text/css">
    .important { color: #336699; }
  </style>

{% endblock head %}

{% block content %}

  {% if flgLoading %}
    {{ super() }}  <!-- insert content section of base tamplete -->
    <div id='my_content' style='display:none;'>  <!-- hide content because of loading -->
  {% else %}
    <div id='my_content'>
  {% endif %}

  <center> <font color="red"><h2 color = "red">{[(This is the main page. Currently it is not finnished and started only to try it out. Developers aren't responsible for any damege or problems caused by this app.)]}</h2></font>
  <h4>{[(How to use:)]}</h4> </center>
  <li>Task -> Add - {[(for adding new task in task list)]};</li>
  <li>Task -> List - {[(to see all tasks list or additing task list)]};</li>
  <li>Machine -> Machine # - {[(to see Machine # task list and current progress)]}.</li>
  
</div>  <!-- my_content -->

{% endblock content %}