{% extends "base.html" %}

{% block title %}Task add{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}
 
{% block topBar %}
  {{ super() }}
{% endblock topBar%}

{% block content %}
	<!--форма ввода-->

    {% if flgLoading %}
      {{ super() }}  <!-- insert content section of base tamplete -->
      <div id='my_content' style='display:none;'>  <!-- hide content because of loading -->
    {% else %}
	    <div id='my_content'>
    {% endif %}


	<div id = "inputTasksParam">
	  <!-- <form class="needs-validation" novalidate> -->
	  	<form method="POST" action="">
 		<div class="form-row">
          <!-- <div class="col-md-1 mb-3">
            <label for="validationTooltip04">Позиція</label>
            <input type="text" class="form-control" id="validationTooltip04" placeholder="{{ x }}" value="{{ x }}" readonly>
            <div class="invalid-tooltip">
              Please provide a valid position number.
            </div>
          </div> -->
          <div class="col-md-6 mb-3">
            <!-- <label for="validationTooltip04">Bunch</label> -->
            {{ form.bunch.label(class="col-form-label") }}
            {{ form.bunch(class="form-control form-control-md") }}
            <!-- <input type="text" class="form-control" id="validationTooltip04" placeholder="BG58RZK87" required> -->
            <div class="invalid-tooltip">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <!-- <label for="validationTooltip05">Pull</label> -->
            {{ form.pull.label(class="col-form-label") }}
            {{ form.pull(class="form-control form-control-md") }}
            <!-- <input type="text" class="form-control" id="validationTooltip05" placeholder="190045" required> -->
            <div class="invalid-tooltip">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <!-- <label for="validationTooltip06">Local number</label> -->
            {{ form.localNumber.label(class="col-form-label") }}
            {{ form.localNumber(class="form-control form-control-md") }}
            <!-- <input type="text" class="form-control" id="validationTooltip06" placeholder="127" required> -->
            <div class="invalid-tooltip">
              Please provide a valid plant id.
            </div>
          </div>
        </div>

	    <div class="form-row">
	      <div class="col-md-6 mb-3">
	      	{{ form.cityOrder.label(class="col-form-label") }}
            {{ form.cityOrder(class="form-control form-control-md") }}
	       <!--  <label for="validationTooltip04">City Order</label>
	        <input type="text" class="form-control" id="validationTooltip04" placeholder="ArcoBaleno" required> -->
	        <div class="invalid-tooltip">
	          Please provide a valid city.
	        </div>
	      </div>
	      <div class="col-md-3 mb-3">
	      	{{ form.stateOrder.label(class="col-form-label") }}
            {{ form.stateOrder(class="form-control form-control-md") }}
	        <!-- <label for="validationTooltip05">State Order</label>
	        <input type="text" class="form-control" id="validationTooltip05" placeholder="PL" required> -->
	        <div class="invalid-tooltip">
	          Please provide a valid state.
	        </div>
	      </div>
	      <div class="col-md-3 mb-3">
			{{ form.plantOrder.label(class="col-form-label") }}
			{{ form.plantOrder(class="form-control form-control-md") }}
	       <!--  <label for="validationTooltip06">Plant Order</label>
	        <input type="text" class="form-control" id="validationTooltip06" placeholder="RIF-10" required> -->
	        <div class="invalid-tooltip">
	          Please provide a valid zip.
	        </div>
	      </div>
	    </div>

	   	<div class="form-row">
	      <div class="col-md-6 mb-3">
	      	{{ form.cityProduction.label(class="col-form-label") }}
			{{ form.cityProduction(class="form-control form-control-md") }}
	        <!-- <label for="validationTooltip04">City Production</label>
	        <input type="text" class="form-control" id="validationTooltip04" placeholder="Berdichev" required> -->
	        <div class="invalid-tooltip">
	          Please provide a valid city.
	        </div>
	      </div>
	      <div class="col-md-3 mb-3">
	      	{{ form.stateProduction.label(class="col-form-label") }}
			{{ form.stateProduction(class="form-control form-control-md") }}
	       <!--  <label for="validationTooltip05">State Production</label>
	        <input type="text" class="form-control" id="validationTooltip05" placeholder="UK" required> -->
	        <div class="invalid-tooltip">
	          Please provide a valid state.
	        </div>
	      </div>
	      <div class="col-md-3 mb-3">
	      	{{ form.plantProduction.label(class="col-form-label") }}
			{{ form.plantProduction(class="form-control form-control-md") }}
	       <!--  <label for="validationTooltip06">Plant Production</label>
	        <input type="text" class="form-control" id="validationTooltip06" placeholder="RIF-1" required> -->
	        <div class="invalid-tooltip">
	          Please provide a valid zip.
	        </div>
	      </div>
	    </div>
		
		<div class="form-row">
	      <div class="col-md-6 mb-3">
	      	<!-- {{ form.dateEnteredTask.label(class="col-form-label") }} -->
			<!-- {{ form.dateEnteredTask(class="form-control form-control-md") }} -->
			<!-- {{ form.dateEnteredTask(class='datepicker') }} -->
			{{ form.dateEnteredTask(class='datepicker') }}
			
	        <!-- <label for="validationTooltip04">Date entered (task)</label>
	        <input type="text" class="form-control" id="validationTooltip04" placeholder="21/01/18 15-21-13" required> -->
	        <div class="invalid-tooltip">
	          Please provide a valid city.
	        </div>
	      </div>
	      <div class="col-md-3 mb-3">
	      	{{ form.dateEnteredToProduction.label(class="col-form-label") }}
			{{ form.dateEnteredToProduction(class="form-control form-control-md") }}
	        <!-- <label for="validationTooltip05">Date entered (to production)</label>
	        <input type="text" class="form-control" id="validationTooltip05" placeholder="18/01/18 12-20-15" required> -->
	        <div class="invalid-tooltip">
	          Please provide a valid state.
	        </div>
	      </div>
	      <div class="col-md-3 mb-3">
	      	{{ form.dateRequired.label(class="col-form-label") }}
			{{ form.dateRequired(class="form-control form-control-md") }}
	       <!--  <label for="validationTooltip06">Date required</label>
	        <input type="text" class="form-control" id="validationTooltip06" placeholder="30/02/18 15-21-13" required> -->
	        <div class="invalid-tooltip">
	          Please provide a valid zip.
	        </div>
	      </div>
	    </div>

	    {{ form.submit(class="btn btn-outline-info") }}
	    <!-- <button class="btn btn-primary" type="submit">Submit form</button> -->
	  </form>
	</div>

	</div>  <!-- my_content -->
{% endblock content %}



<!-- 'RecID': '1', ??? --> 
<!-- 'UnitID': '1', machine number --> 
'Articul': 'Kate',
'ProcessID': '101',
<!-- 'ProcessIDsDescription': "101 - add, 102 - del in case of damage, 103 - calc error", -->
<!-- 'OperatorName': 'Zoya Semenovna', -->
<!-- 'OperationDate': '17/11/18:17-25-42', automatic -> if close task was confirmed -->
'Pull': '199poi',
'OrderNumber': '199987',
<!-- 'LocalNumber': '13', automatic (for first time possible to correct)-->
<!-- 'PartLocalNumber': '1', automatic (send to machene 500) -->
<!-- 'ReadyDate': '18/11/18:25-30-36' automatic -> if close task was confirmed, -->
'CountryOrder': 'PL',
'CityOrder': 'Lublin',
'PlantOrder': 'RIF - 5',
'DateEntered': '18/12/19:25-25-36',
'RequiredRDate': '17/11/18:17-0-0',
'CountryProd': 'UK',
'CityProd': 'Kyiv',
<!-- 'QR': '186551' autogenerate -->