{% extends "base.html" %}

{% block title %}Task{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>

  <script> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>

  <!-- ajax -->
  <script type=text/javascript>
    // var i = 1;
    function change_task_list_data(data){
      // alert(data);

      // Future: online list update 
    }

    setInterval(function() {
      $(function() {
        $.getJSON($SCRIPT_ROOT + '/_renew_task_list', {
          // a: $('input[name="a"]').val(),
          // b: $('input[name="b"]').val()
        }, function(data) {
          // alert(data.result)
          data.result;

          change_task_list_data(data.result);

        });
        return false;
      });
    }, 5000);
  </script>

{% endblock head %}
 
{% block topBar %}
  {{ super() }}
{% endblock topBar%}

{% block content %}
	<!--форма ввода-->

  {% if flgLoading %}
    {{ super() }}  <!-- insert content section of base tamplete -->
    <div id='my_content' style='display:none;'>  <!-- hide content because of loading -->
  {% else %}
    <div id='my_content'>
  {% endif %}


  <center><legend class="border-bottom mb-4">{[(Task list:)]}</legend></center>

    <div class="col-12" id="l_ogAd_min">
      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <!-- table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{[(Bunch)]}</th>
              <th scope="col">{[(Pull)]}</th>
              <th scope="col">{[(Local numb)]}</th>
              <th scope="col">{[(Date entered)]}</th>
              <th scope="col">{[(Date required)]}</th>
              <th scope="col">{[(Total/current ammount)]}</th>
              <!-- <th scope="col">{[(Percentage)]}</th> -->
            </tr>
          </thead>
          <tbody>
            {% for x in tasks_list %}
              <!-- # {{loop.index}}: {{ x }} -->
              {% set xIndex = loop.index %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                {% for y in x %}
                    {% if loop.index == 6 %}
                    <!-- ammount 140/300 -->
                    <!-- Find apropriate task_from_machine according pull (c[1] == x[1]) -->
                    <!-- later CHECK QR code (get from QR Pull and Bunch isEqual to x[0] & x[1]) -->
                      {% for task in task_from_machine %} 
                        {% if x[1] == task[1] %}
                          <!-- devise zero protection -->
                          {% if y|int <= 0 %}
                            {% set percentage =  0 %}
                          {% else %}
                            {% set percentage = ((task[3]|int * 10) / y|int) * 100 %}
                          {% endif %}
                          
                          {% set type = "bg-success" %}

                          <!-- {{percentage}} -->
                          <td>
                            {{ task[3] * 10 }} / {{ y }}

                            <!-- different colours for status bar  -->
                            {% if percentage > 80 %}
                              {% set type = "bg-danger" %}
                            {% elif percentage > 40 %}
                              {% set type = "bg-warning" %} 
                            {% endif %}

                            <div class="progress">
                              <div class="progress-bar {{type}}" role="progressbar" style="width: {{ percentage }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      <td>{{ y }}</td>
                    {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
  <!-- table -->
      </div>
    </div> 

  </div>  <!-- my_content -->

{% endblock content %}