{% extends "base.html" %}

{% block title %}Task add{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
	.important { color: #336699; }
  </style>
	

	<!--  my_content.style = "display:none;";
	loading.style = "display:block;"; -->

	<!-- my_content.style = "display:block;"
	loading.style = "display:none;" -->


{% endblock head %}
 
{% block topBar %}
  {{ super() }}
{% endblock topBar%}

{% block content %}
	<!--форма ввода-->
	
	{{ super() }}  <!-- insert content section of base tamplete -->

	<div id='my_content'>


	<div id = "inputTasksParam">
	  	<form method="POST" action="">
		<center><legend class="border-bottom mb-4">{[(Add new task:)]}</legend></center>

 		<div class="form-row">
		  <div class="col-md-6 mb-3">
			<label for="validationTooltip04">{[(Bunch)]}</label>
			<!-- {{ form.bunch.label(class="col-form-label") }} -->
			{{ form.bunch(class="form-control form-control-md") }}
			<div class="invalid-tooltip">
			  Please provide a valid bunch.
			</div>
		  </div>
		  <div class="col-md-4 mb-3">
			<label for="validationTooltip04">{[(Pull)]}</label>
		  	
			<!-- {{ form.pull.label(class="col-form-label") }} -->
			{{ form.pull(class="form-control form-control-md") }}
			<div class="invalid-tooltip">
			  Please provide a valid pull.
			</div>
		  </div>
		  <div class="col-md-2 mb-3">
		  	<fieldset class="form-group">
				<div class="form-group">
					<label for="validationTooltip04">{[(Local numb)]}</label>
					
					<!-- {{ form.localNumber.label(class="col-form-label") }} -->
					{% if form.localNumber.errors %}
						{{ form.localNumber(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.localNumber.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.localNumber(class="form-control form-control-md") }}
					{% endif %}
				</div>
			</fieldset>

			<div class="invalid-tooltip">
			  Please provide a valid plant id.
			</div>
		  </div>
		</div>

		<div class="form-row">
		  <div class="col-md-6 mb-3">
			<label for="validationTooltip04">{[(City order)]}</label>
		  	
		  	<!-- {{ form.cityOrder.label(class="col-form-label") }} -->
			{{ form.cityOrder(class="form-control form-control-md") }}
			<div class="invalid-tooltip">
			  Please provide a valid cityOrder.
			</div>
		  </div>
		  <div class="col-md-3 mb-3">
			<label for="validationTooltip04">{[(State order)]}</label>
		  	
		  	<!-- {{ form.stateOrder.label(class="col-form-label") }} -->
			{{ form.stateOrder(class="form-control form-control-md") }}
			<div class="invalid-tooltip">
			  Please provide a valid stateOrder.
			</div>
		  </div>
		  <div class="col-md-3 mb-3">
			<label for="validationTooltip04">{[(Plant order)]}</label>
		  	
			<!-- {{ form.plantOrder.label(class="col-form-label") }} -->
			{{ form.plantOrder(class="form-control form-control-md") }}
			<div class="invalid-tooltip">
			  Please provide a valid plantOrder.
			</div>
		  </div>
		</div>

	   	<div class="form-row">
		  <div class="col-md-6 mb-3">
			<label for="validationTooltip04">{[(City production)]}</label>
		  	
		  	<!-- {{ form.cityProduction.label(class="col-form-label") }} -->
			{{ form.cityProduction(class="form-control form-control-md") }}
			<div class="invalid-tooltip">
			  Please provide a valid cityProduction.
			</div>
		  </div>
		  <div class="col-md-3 mb-3">
			<label for="validationTooltip04">{[(State production)]}</label>
		  	
		  	<!-- {{ form.stateProduction.label(class="col-form-label") }} -->
			{{ form.stateProduction(class="form-control form-control-md") }}
			<div class="invalid-tooltip">
			  Please provide a valid stateProduction.
			</div>
		  </div>
		  <div class="col-md-3 mb-3">
			<label for="validationTooltip04">{[(Plant production)]}</label>

		  	<!-- {{ form.plantProduction.label(class="col-form-label") }} -->
			{{ form.plantProduction(class="form-control form-control-md") }}
			<div class="invalid-tooltip">
			  Please provide a valid plantProduction.
			</div>
		  </div>
		  
		  <div class="col-md-6 mb-3">
			<label for="validationTooltip04">{[(Date entered task)]}</label>
		  	
			<!-- {{ form.dateEnteredTask.label(class="col-form-label") }} -->
			{{ form.dateEnteredTask(class="form-control form-control-md") }}
			<div class="invalid-tooltip">
			  Please provide a valid dateEnteredTask.
			</div>
		  </div>
		  <div class="col-md-3 mb-3">
			<label for="validationTooltip04">{[(Data entered to production)]}</label>
		  	
		  	<!-- {{ form.dateEnteredToProduction.label(class="col-form-label") }} -->
			{{ form.dateEnteredToProduction(class="form-control form-control-md") }}
			<div class="invalid-tooltip">
			  Please provide a valid dateEnteredToProduction.
			</div>
		  </div>
		  <div class="col-md-3 mb-3">
			<label for="validationTooltip04">{[(Data required)]}</label>
		  	
		  	<!-- {{ form.dateRequired.label(class="col-form-label") }} -->
			{{ form.dateRequired(class="form-control form-control-md") }}
			<div class="invalid-tooltip">
			  Please provide a valid dateRequired.
			</div>
		  </div>
		</div>
		<!-- btn-outline-info -->
		<!-- btn-primary -->
		{{ form.submit(class="btn btn-primary") }}
	  </form>
	</div>

	</div>  <!-- my_content -->
{% endblock content %}