{% extends "base.html" %}

{% block title %}Task{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}
 
{% block topBar %}
  {{ super() }}
{% endblock topBar%}

{% block content %}
	<!--форма ввода-->
	<div id = "inputTasksParam">
	  <form class="needs-validation" novalidate>
	    <div class="form-row">
	      <div class="col-md-4 mb-3">
	        <label for="validationTooltip01">Пул</label>
	        <input type="text" class="form-control" id="validationTooltip01" placeholder="Имя" value="Mark" required>
	        <div class="valid-tooltip">
	          Looks good!
	        </div>
	      </div>
	      <div class="col-md-4 mb-3">
	        <label for="validationTooltip02">Завдання</label>
	        <input type="text" class="form-control" id="validationTooltip02" placeholder="Фамилия" value="Otto" required>
	        <div class="valid-tooltip">
	          Looks good!
	        </div>
	      </div>
  	      <div class="col-md-4 mb-3">
	        <label for="validationTooltip03">Завдання</label>
	        <input type="text" class="form-control" id="validationTooltip03" placeholder="Фамилия" value="Otto" required>
	        <div class="valid-tooltip">
	          Looks good!
	        </div>
	      </div>
	    </div>
	    <div class="form-row">
	      <div class="col-md-6 mb-3">
	        <label for="validationTooltip04">City</label>
	        <input type="text" class="form-control" id="validationTooltip04" placeholder="City" required>
	        <div class="invalid-tooltip">
	          Please provide a valid city.
	        </div>
	      </div>
	      <div class="col-md-3 mb-3">
	        <label for="validationTooltip05">State</label>
	        <input type="text" class="form-control" id="validationTooltip05" placeholder="State" required>
	        <div class="invalid-tooltip">
	          Please provide a valid state.
	        </div>
	      </div>
	      <div class="col-md-3 mb-3">
	        <label for="validationTooltip06">Zip</label>
	        <input type="text" class="form-control" id="validationTooltip06" placeholder="Zip" required>
	        <div class="invalid-tooltip">
	          Please provide a valid zip.
	        </div>
	      </div>
	    </div>
	    <button class="btn btn-primary" type="submit">Submit form</button>
	  </form>
	</div>
{% endblock content %}



<!-- 'RecID': '1', ??? --> 
<!-- 'UnitID': '1', machine number --> 
'Articul': 'Kate',
'ProcessID': '101',
<!-- 'ProcessIDsDescription': "101 - add, 102 - del in case of damage, 103 - calc error", -->
<!-- 'OperatorName': 'Zoya Semenovna', -->
<!-- 'OperationDate': '17/11/18:17-25-42', automatic -> if close task was confirmed -->
'Pull': '199poi',
'OrderNumber': '199987',
<!-- 'LocalNumber': '13', automatic (for first time possible to correct)-->
'PartLocalNumber': '1',
'ReadyDate': '18/11/18:25-30-36',
'CountryOrder': 'PL',
'CityOrder': 'Lublin',
'PlantOrder': 'RIF - 5',
'DateEntered': '18/12/19:25-25-36',
'RequiredRDate': '17/11/18:17-0-0',
'CountryProd': 'UK',
'CityProd': 'Kyiv',
'QR': '186551'