/*#navbar-example2{
	background: #f050f0;
	color: #a52a2a;
	overflow-y: scroll;
	position: relative;
	height: 100;
}*/
/*
p{
	background: #f050f0;
	color: #a52a2a;
}
*/
/*body{
	background: #f050f0;
}*/

/*.navbar {
	background: #f050f0;
	color: #a52a2a;
	position: relative;
}*/

/*#A {
	background: #f050f0;
	color: #a52a2a;
	position: relative;
}

#Xerny {
	overflow-y: scroll;
	position: relative;
	height: 200;
}*/

#logAdmin {
	overflow-y: scroll;
	position: relative;
	height: 500;  /*crutch*/
	/*border: 1px solid #BFC9CA;*/
	border: none;
	background: #F2F3F4
}

#taskTable {
	overflow-y: scroll;
	position: relative;
	height: 400;  /*crutch*/
	/*border: 1px solid #BFC9CA;*/
	border: none;
	background: #F2F3F4
}